body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding : 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar a {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 10px;
  margin-left: 250px;
  margin-top: 70px;
}

/* sidebar */

.sidebar-container{
  display: flex;
  margin-top: 70px;
}

.sidebar{
  width: 200px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 1rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 120px;
  left: 0;
  z-index: 999;
  flex-direction: column;
  gap: 2rem;
}

/* course-info */

.courses-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}